openapi: 3.1.0
info:
  title: Pexels Collections Videos API
  description: 'The Pexels API provides programmatic access to Pexels'' free stock photo

    and video library, plus curated collections. Use it to search photos

    and videos, fetch curated and popular media, and integrate Pexels

    content into apps and websites.

    '
  version: '1.0'
  contact:
    name: Pexels API
    url: https://www.pexels.com/api/
  termsOfService: https://www.pexels.com/terms-of-service/
servers:
- url: https://api.pexels.com/v1
  description: Pexels production API
tags:
- name: Videos
  description: Search, browse, and retrieve videos.
paths:
  /videos/search:
    get:
      operationId: searchVideos
      summary: Search Videos
      description: Search the Pexels video library by keyword.
      tags:
      - Videos
      security:
      - apiKeyAuth: []
      parameters:
      - in: query
        name: query
        required: true
        schema:
          type: string
      - in: query
        name: orientation
        schema:
          type: string
          enum:
          - landscape
          - portrait
          - square
      - in: query
        name: size
        schema:
          type: string
          enum:
          - large
          - medium
          - small
      - in: query
        name: locale
        schema:
          type: string
      - in: query
        name: page
        schema:
          type: integer
      - in: query
        name: per_page
        schema:
          type: integer
          maximum: 80
      responses:
        '200':
          description: Video search results.
  /videos/popular:
    get:
      operationId: getPopularVideos
      summary: Popular Videos
      description: Returns currently trending videos.
      tags:
      - Videos
      security:
      - apiKeyAuth: []
      parameters:
      - in: query
        name: min_width
        schema:
          type: integer
      - in: query
        name: min_height
        schema:
          type: integer
      - in: query
        name: min_duration
        schema:
          type: integer
      - in: query
        name: max_duration
        schema:
          type: integer
      - in: query
        name: page
        schema:
          type: integer
      - in: query
        name: per_page
        schema:
          type: integer
          maximum: 80
      responses:
        '200':
          description: Popular videos.
  /videos/videos/{id}:
    get:
      operationId: getVideo
      summary: Get Video
      description: Retrieve a specific video by ID.
      tags:
      - Videos
      security:
      - apiKeyAuth: []
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A single video resource.
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Pexels uses an API-key in the `Authorization` request header.

        Send your key as `Authorization: YOUR_API_KEY` on every request.

        '
externalDocs:
  description: Pexels API Documentation
  url: https://www.pexels.com/api/documentation/
